/* スマホ */
@media screen and (max-width: 480px) {
/* 全て------------------------------------------------------------------------------------------------------ */
/* 全て------------------------------------------------------------------------------------------------------ */
/* body------------------------------------------------------------------------------------------------------ */
/* body------------------------------------------------------------------------------------------------------ */
/* header------------------------------------------------------------------------------------------------------ */
header a {
    font-size: 1rem;
    font-weight: bold;
    overflow-wrap: break-word;
    text-align: center;
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    width: 7vh; /* 「ファンクラブ」と同じ幅に設定（適宜調整） */
    height: 7vh; /* 高さも統一 */
}
/* header------------------------------------------------------------------------------------------------------ */
/* main------------------------------------------------------------------------------------------------------ */
main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
}
section img {
    background-color: white;
    display: block;
    outline: 2px solid black;
    width: 250px;
    height: 310px;

}
h2 {
    display: grid;
    grid-template-rows: subgrid;
}
nav ul {
    grid-row: 2 / 3;
    grid-column: 1 / 2; 
}
nav {
    display:grid; 
    grid-template-columns: repeat(2, 1fr); 
}

.link-list li {
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.25s ease-in-out, box-shadow 0.3s ease;
}
li a {
    display: block;
}

.link-list li:hover {
    transform: scale(1.125); 
}


/* メンバー------------------------------------------------------------------------------------------------------ */
    :root {
        --color-1: aqua;
        --color-2: #FF66CC;
        --color-3: red;
        --color-4: silver;
        --color-5: mediumaquamarine;
        --color-6: orange;
        --color-7: orchid;
        --color-8: white;
        --f-size: 2.5vh;
        --t-size: 5vh;
    }
    

    .l-sao   { color: var(--color-1);font-size: var(--f-size);}
    .l-yuu   { color: var(--color-2);font-size: var(--f-size);}
    .l-oda   { color: var(--color-3);font-size: var(--f-size);}
    .l-fuka  { color: var(--color-4);font-size: var(--f-size);}
    .l-mana  { color: var(--color-5);font-size: var(--f-size);}
    .l-mina  { color: var(--color-6);font-size: var(--f-size);}
    .l-rikou { color: var(--color-7);font-size: var(--f-size);}
    .g-logo  { color: var(--color-8);font-size: var(--f-size);}


    .t-sao   { color: var(--color-1);font-size: var(--t-size);}
    .t-yuu   { color: var(--color-2);font-size: var(--t-size);}
    .t-oda   { color: var(--color-3);font-size: var(--t-size);}
    .t-fuka  { color: var(--color-4);font-size: var(--t-size);}
    .t-mana  { color: var(--color-5);font-size: var(--t-size);}
    .t-mina  { color: var(--color-6);font-size: var(--t-size);}
    .t-rikou { color: var(--color-7);font-size: var(--t-size);}

/* メンバー------------------------------------------------------------------------------------------------------ */


/* main------------------------------------------------------------------------------------------------------ */
/* 横画面 */
    @media (orientation: landscape) {
        
    }
}

/* タブレット */
@media screen and (max-width: 768px) {
    
/* 横画面 */
    @media (orientation: landscape) {
        
    }
}


