/*スマホの画面*/ 
@media screen and (max-width: 767px) {
    img {
        width:130px;
        height: 200px;
        margin: 5px;
    }

    .logo {
        font-size:2rem;
        text-align: center;
    }

    .menue {
        text-align: right;
        font-size: 1.5rem;
    }

    .image-container {
        margin-bottom: 1px;
        display: flex;
    }

    

}

/*タブレットの画面*/
@media screen and (min-width: 768px) {
    img {
        width:260px;
        height: 380px;
        margin: 5px;
    }

    .image-container {
        margin-bottom: 1px;
        display: flex;
    }

    .logo {
        font-size:4rem;
        text-align: center;

    }

    .menue {
        font-size:2.5rem;
        display:flex;
        justify-content: space-between;
    }

    .gallery {
        display:flex;
        flex-wrap: wrap;
    }

    .menue a:hover {
        text-decoration: underline;
    }

    .item {
        width: calc(50%-10px);
        margin: 5px;
    }


}
