header {
    background-color:yellow;
}

.sao {
    color:aqua;
    font-size:1.5rem;
}

.yuu {
    color:pink;
    font-size:1.5rem;
}

.ayane {
    color:red;
    font-size:1.5rem;
}

.fuka {
    color:lightgray;
    font-size:1.5rem;
}

.manase {
    color:mediumaquamarine;
    font-size:1.5rem;
}

.mikan {
    color:orange;
    font-size:1.5rem;
}

.orikou {
    color:purple;
    font-size:1.5rem;
}

li {
    list-style: none;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0.5rem;
}
.image-text {
    display:none;
    margin-left: 0;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



