/* 全て------------------------------------------------------------------------------------------------------ */
@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* 全て------------------------------------------------------------------------------------------------------ */
/* body------------------------------------------------------------------------------------------------------ */
body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "header"
    "main";
    grid-template-rows: auto 1fr auto;
    --color-9: rgba(0, 255, 255, 0.35); /* aqua */
    --color-10: rgba(255, 102, 204, 0.35); /* #FF66CC */
    --color-11: rgba(255, 0, 0, 0.35); /* red */
    --color-12: rgba(192, 192, 192, 0.35); /* silver */
    --color-13: rgba(102, 205, 170, 0.35); /* mediumaquamarine */
    --color-14: rgba(255, 165, 0, 0.35); /* orange */
    --color-15: rgba(218, 112, 214, 0.35); /* orchid */
    
    background: linear-gradient(
        45deg,
        var(--color-9),
        var(--color-10),
        var(--color-11),
        var(--color-12),
        var(--color-13),
        var(--color-14),
        var(--color-15)
    );
    background-size: 700% 700%;
    animation: gradientMove 10s infinite linear;
    height: 100vh;
    margin: 0;
    
}
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
} 

/* body------------------------------------------------------------------------------------------------------ */
/* header------------------------------------------------------------------------------------------------------ */
header {
    grid-area: header;
    background-color:yellow;
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    font-weight: bold;
}

header a {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px 2px;
    margin: 10px;
    display: block;
    font-size: 5vh;
    text-align: center;

}

.main-link {
    display: grid;
    grid: subgrid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px; /* 要素間の間隔 */
    margin:0 auto;
    max-width: 100%; /* レイアウト全体の幅 */
}

.main-link li {
    transition: transform 0.25s ease-in-out, box-shadow 0.3s ease;
}

.main-link li:hover {
    transform: scale(1.1); 
}
/* header------------------------------------------------------------------------------------------------------ */
/* main------------------------------------------------------------------------------------------------------ */
main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
}
section img {
    background-color: white;
    display: block;
    outline: 2px solid black;
    width: 250px;
    height: 310px;

}
h2 {
    text-align: center;
}
nav ul {
    grid-row: 2 / 3;
    grid-column: 1 / 2; 
}
nav {
    display:grid; 
    grid-template-columns: repeat(2, 1fr); 
}

.link-list li {
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.25s ease-in-out, box-shadow 0.3s ease;
}
li a {
    display: block;
}

.link-list li:hover {
    transform: scale(1.125); 
}


/* メンバー------------------------------------------------------------------------------------------------------ */
    :root {
        --color-1: aqua;
        --color-2: #FF66CC;
        --color-3: red;
        --color-4: silver;
        --color-5: mediumaquamarine;
        --color-6: orange;
        --color-7: orchid;
        --color-8: white;
        --f-size: 3vh;
        --t-size: 7vh;
    }
    
    .l-sao   { color: var(--color-1);font-size: var(--f-size);}
    .l-yuu   { color: var(--color-2);font-size: var(--f-size);}
    .l-oda   { color: var(--color-3);font-size: var(--f-size);}
    .l-fuka  { color: var(--color-4);font-size: var(--f-size);}
    .l-mana  { color: var(--color-5);font-size: var(--f-size);}
    .l-mina  { color: var(--color-6);font-size: var(--f-size);}
    .l-rikou { color: var(--color-7);font-size: var(--f-size);}
    .g-logo  { color: var(--color-8);font-size: var(--f-size);}


    .t-sao   { color: var(--color-1);font-size: var(--t-size);}
    .t-yuu   { color: var(--color-2);font-size: var(--t-size);}
    .t-oda   { color: var(--color-3);font-size: var(--t-size);}
    .t-fuka  { color: var(--color-4);font-size: var(--t-size);}
    .t-mana  { color: var(--color-5);font-size: var(--t-size);}
    .t-mina  { color: var(--color-6);font-size: var(--t-size);}
    .t-rikou { color: var(--color-7);font-size: var(--t-size);}

/* メンバー------------------------------------------------------------------------------------------------------ */


/* main------------------------------------------------------------------------------------------------------ */

